@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  top: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  background-color: rgb(248, 248, 248);
  padding: 5px;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

.logo a {
  padding: 5px 10px;
  margin: 10px;
}

.nav-items a {
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
}

#mov-count {
  color: darkmagenta;
  text-align: center;
  margin: 10px;
  font-size: 24px;
  font-weight: 800;
}

.list-items {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

.mov-detail {
  display: flex;
  margin: 20px 0;
}

li {
  list-style: none;
}

.mov-post {
  height: 420px;
}

.mov-name {
  width: 300px;
  font-weight: bolder;
}

.likes {
  display: flex;
  align-items: center;
}

.fa-heart {
  margin-left: 5px;
  font-size: 24px;
  color: hotpink;
  cursor: pointer;
}

.comments {
  height: 40px;
}

.item {
  margin-bottom: 30px;
  padding: 20px;
  background: whitesmoke;
  width: 270px;
  display: flex;
  flex-direction: column;
}

.popup {
  position: absolute;
  top: 0;
  width: 100%;
  height: 160%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: center;
}

.popup-card {
  background-color: rgb(255, 96, 96);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 5px;
  border-radius: 10px;
  padding-bottom: 50px;
  margin: 30px 0;
}

.fa-times {
  align-self: end;
  margin: 0 5px 20px 0;
  font-size: 24px;
}

.demo,
.demo img {
  width: 280px;
  height: 420px;
}

.demo {
  border: 6px solid white;
  border-radius: 5px;
}

.mov-title {
  text-align: center;
  margin: 15px 0;
  font-size: 28px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  text-indent: 5px;
}

.input1 {
  margin-top: 5px;
  height: 40px;
}

.input2 {
  padding-top: 7px;
}

.submit-comment {
  height: 35px;
}

footer {
  display: flex;
  background-color: rosybrown;
  height: 100px;
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.footer-text {
  font-weight: 600;
  width: 250px;
}

@media screen and (min-width: 768px) {
  .list-items {
    flex-flow: row wrap;
    width: 95%;
    margin: 40px auto;
  }

  .comments {
    width: 100%;
  }

  .for-fullscreen {
    display: flex;
    justify-content: space-around;
    width: 90%;
  }
}
