@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.popup {
  width: auto;
  margin: 20px 100px;
}

.comment h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin: auto;
}

.submit-comment {
  width: 80px;
  height: 40px;
  justify-self: end;
  background-color: #fff;
  box-shadow: 2px 2px #000;
}

input {
  height: 20px;
  padding: 5px 10px;
}

textarea {
  padding: 5px 10px;
}

.demo {
  display: flex;
}

.demo img{
  width: 400px;
  height: 200px;
  margin: 20px 400px;
}

.close-btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: #fff;
}

.close-btn i {
  font-size: x-large;
}

.comment-counter {
  margin: 5px 350px;
}

.comment-counter h3 {
  text-align: center;
}

ul {
  list-style-type: none;
}

.description h3 {
   text-align: center;
}

.list {
  display: flex;
  justify-content: space-between;
  margin: 5px 350px;
}
